*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

@font-face {
    font-family: "i";
    src: url("../fonts/i.ttf");
    font-style: normal;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 1000;
    padding: 10px 5px;
    height: auto;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    text-align: center;
    line-height: 160px;
}

header.shrink {
    padding: 10px 5px;
    height: 60px;
    line-height: 80px;
    background: white;
    font-size: 24px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    box-shadow: 0 0 4px black;
}

header {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    user-select: none;
}

a {
    color: inherit;
}

.container-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0 5%;
}

.header-brand {
    width: 10%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.header-menu {
    width: 50%;
    padding: 0;
    line-height: normal;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}

.header-lang {
    width: 10%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.brand-text {
    color: white;
    font-family: "i";
    font-size: 28px;
    line-height: 30px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    flex-direction: column;
}

.brand-text-e {
    font-size: 20px !important;
    line-height: 22px !important;
    -webkit-transition: 300ms !important;
    -moz-transition: 300ms !important;
    -ms-transition: 300ms !important;
    -o-transition: 300ms !important;
    transition: 300ms !important;
}

.header-menu ul {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.header-menu li {
    display: inline-flex;
    display: -webkit-inline-flex;
    color: black;
    font-family: "sans";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    line-height: 52px;
    border: 4px solid transparent;
}

.white {
    color: white !important;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* ALL */

.row .three {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}

.hamburger .line {
    width: 35px;
    height: 2px;
    background-color: #b42416;
    border-radius: 10px;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
}


/*END HEADER*/
.index-bg {
    min-height: 100vh;
    height: auto;
    background: url(../img/index-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brand-red {
    color: #b42416;
}
.brand-white {
    color: white;
}
.brand-black {
    color: #111;
}
.header-menu > li > a {
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    padding: 0 13px;
        -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.header-menu > li > a:hover {
    color: #b42416;
    background: url(../img/hoverl.svg) no-repeat 0% 0%,
 url(../img/hoverr.svg) no-repeat 100% 100%;
    background-size: 25px;
    -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.header-lang-tile {
    background-color: rgba(180, 36, 22, 0.4);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
    padding: 7px 20px 5px 7px;
    background-image: url(../img/chev_d.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 31px;
    background-size: 25%;
}
.header-lang-tile:focus {
    border: none;
}
.langOption{
    background-color: #515050;
    border: none;
    outline: none;
}
.langOption:hover,
.langOption:active,
.langOption:hover
{
    background-color: #515050;
    border: none;
    outline: none;
}
.index-bg-header {
    font-size: 75px;
    font-weight: 900;
    text-transform: uppercase;
    color: #b42416;
}
.index-bg-decsription {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: 46%;
    text-align: center;
}
.index-bg-button {
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    border: 3px solid #b42416;
    border-radius: 1px;
    padding: 13px 11px;
    margin-top: 50px;
    cursor: pointer;
}
.second-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/slider-elipsis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-size: contain;
    padding: 0;
}
.shrink > .container-header > .header-brand > .brand-text > span:nth-child(2){
    color: #111;
}
.shrink > .container-header > .header-menu > .white > a{
    color: #111;
}
.shrink > .container-header > .header-menu > .white > a:hover{
    color: #b42416;
}
.shrink > .container-header > .header-brand{
    position: relative;
    top:-3px;
}
.second-bg-header {
    color: #3d3d3d;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 900;
    line-height: 100px;
    text-transform: uppercase;
}
.slider-main {
    width: 100%;
    height: auto;
    margin-top: 120px;
}
.slider-single > img {
    margin: 0 auto;
    height: 170px;
    -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.slick-cloned > img {
    margin: 0 auto;
    height: 70px;
    -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.slider-single{
    outline-style: none;
    outline: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev{
    left: 0;
    z-index: 9999;
    background-image: url(../img/l.svg);
    background-repeat:no-repeat;
    background-size: contain;
    
}
.slick-next{
    right: 0;
    z-index: 9999;
        background-image: url(../img/r.svg);
    background-repeat:no-repeat;
    background-size: contain;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.slick-center > img {
    height: 235px;
    -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.bubblingG {
    text-align: center;
    width:78px;
    height:49px;
    margin: auto;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    background: rgb(180, 36, 22);
    border-radius: 49px;
        -o-border-radius: 49px;
        -ms-border-radius: 49px;
        -webkit-border-radius: 49px;
        -moz-border-radius: 49px;
    animation: bubblingG 1.5s infinite alternate;
        -o-animation: bubblingG 1.5s infinite alternate;
        -ms-animation: bubblingG 1.5s infinite alternate;
        -webkit-animation: bubblingG 1.5s infinite alternate;
        -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
        -o-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.45s;
        -o-animation-delay: 0.45s;
        -ms-animation-delay: 0.45s;
        -webkit-animation-delay: 0.45s;
        -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
    animation-delay: 0.9s;
        -o-animation-delay: 0.9s;
        -ms-animation-delay: 0.9s;
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(180, 36, 22);
        transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        transform: translateY(-20px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(180, 36, 22);
        -o-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(180, 36, 22);
        -ms-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(180, 36, 22);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(180, 36, 22);
        -moz-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -moz-transform: translateY(-20px);
    }
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: white;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}