/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {
    .second-bg {
    background-position-y: 0px;
}
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-menu ul {
        flex-direction: column;
    }
    .header-menu > li > a {
    color: black;
}
.header-menu {
    width: 100%;
    position: fixed;
    left: 0;
    background: white;
    flex-direction: column;
    top: 75px;
    height: 220px;
    z-index: 9999;
}
    .header-menu li {
        line-height: 35px;
        color: white;
        display: flex;
        display: -webkit-flex;
    justify-content: center;
    width: 100%;
    }
.brand-text {
    color: white;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}  


.shrink .container-header .brand-text {
    color: white;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.header-menu>li:hover {
border-bottom: 4px solid transparent;
border-left: 4px solid white;
    border-top: 5px double transparent;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}
.shrink .container-header .header-menu>li:hover {
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
    border-top: 4px solid transparent;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}
.header-lang {
    width: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}
.slider-single > #disapear{
    display: block;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.second-bg {
    background-position-y: 35px;
}
.slider-description {
    padding: 0 12%;
}
.slick-prev, .slick-next {
    top: 70px;
    margin: 30px;
}
.slider-description-final {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-description-str2 {
    padding: 10px 15%;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
.index-bg-header {
    font-size: 65px;
    line-height: 65px;
    font-weight: 900;
    text-transform: uppercase;
    color: #b42416;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.index-bg-decsription {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: 50%;
    text-align: center;
    margin-top: 15px;
}
.second-bg {
    background-image: none;
}
}


@media only screen and (max-width: 480px) {
	.index-bg-header {
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    color: #b42416;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 45px;
}
.index-bg-decsription {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    width: 70%;
    text-align: center;
    margin-top: 15px;
}
.index-bg-button {
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    border: 3px solid #b42416;
    border-radius: 1px;
    padding: 12px 10px;
    margin-top: 30px;
}
.second-bg-header {
    font-size: 48px;
}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    
}